.tablebox {
  display: flex;
  width: 99vw;
  align-items: center;
  justify-content: center;
}
.table {
  border: 1px solid red;
  padding: 7px;
  margin: 10px auto;
  width: 40vw;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
  transition: 1s linear;
}
.table:hover {
  border: 1px solid black;
  width: 4  1vw;
}
.checkbox {
  width: 20px;
  height: 20px;
}
.box1 {
  width: 10%;
  height: 100%;
}
.box3 {
  width: 10%;
  height: 100%;
}
.box2 {
  width: 50%;
  height: 100%;
  text-align: left;
  letter-spacing: 2px;
}

